body
{
	margin:0px;
	#background-image:url("../images/b4.jpg");
	background-size:100%; 
}

/* headers */
h1
{
	font-size:30px;
	text-align:center;
	font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
	color:#006625;
    margin-top: 5px;
}

h2
{
	font-size:22px;
	font-family:sans-serif;	
    margin-top: 20px;
}

h3
{
	font-size:14px;
	font-family:sans-serif;
	text-align:center;
	color:
	
}

p
{
	font-size:18px;
	font-family:Times new roman;
	color:#2A120A;
	text-align:left;
	margin:5%;
}

header
{
	text-align:center;
	padding:0px;
	margin-top:0px;
}

/* Positions */
#section
{
	margin:2%;
	margin-top:100px;
}

#show_table
{
	
	
}

 #mynetwork
    {
	  margin-top:5.2%;
      width: 800px;
      height: 400px;
	  border-right:2px solid #585858;
	  background:#FAFAFA;
      border: 2px solid #0B3B0B;
	  border-radius:10px;
	  box-shadow: 7px 7px 5px #888888;
    }

#logbetween
{
	width:100%;
	height:500px;
	border:2px solid #0B3B0B;
	border-radius:10px;
	background:#FAFAFA;
	box-shadow:7px 7px 5px #888888;
}
	
#architectures
{
	border:2px solid #0B3B0B;
	border-radius:10px;
	background:#FAFAFA;
	box-shadow:7px 7px 5px #888888;	
}
	
	
div.img {
	margin-top:100px;
	margin: 3%;
    padding: 5px;
    float: left;
    text-align: center;
	border: 1px solid #000000;
	box-shadow: 5px 5px 3px #888888;
	background-color:#F2F2F2;
	border-radius: 20px;
}

div.img img {
    display: inline;
    margin: 8px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.active {
   /* background-color: #4CAF50; */
}

select.btn-mini {
    height: auto;
    line-height: 14px;
}

select.btn {
    -webkit-appearance: button;
       -moz-appearance: button;
            appearance: button;
    padding-right: 16px;
}

select.btn-mini + .caret {
    margin-left: -20px;
    margin-top: 9px;
}